.properties {
  .title {
    padding-bottom: $section-padding;
  }

  .row {
    > div {
      max-width: 415px;
      margin-left: auto;
      margin-right: auto;
    }
    .box {
      transition: 0.3s;
      border: 1px solid #0000000e;

      .info {
        padding: 2rem;
        .price {
          padding-bottom: 0.5rem;
          font-weight: $fw-700;
          color: $secondary;
          width: fit-content;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 1px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $secondary;
          }
        }
        .address,
        .features {
          font-size: $fs-13;
          margin-bottom: 0.5rem;
        }
        h3 {
          font-weight: $fw-700;
          margin-bottom: 0.5rem;
        }
        .features {
          margin-bottom: 1rem;
          display: flex;
          gap: 1rem;
          color: $text-color-black-50;
          .item {
            svg {
              margin-right: 0.25rem;
            }
          }
        }
        .my-btn {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  // for properties.html
  .bullets {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    span {
      font-weight: $fw-700;
      cursor: pointer;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      background-color: $control-bg-color;
      color: $primary;
      &:first-child {
        background-color: $primary;
        color: $white;
      }
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
