body.dark-theme {
  // set colors and items in dark theme

  //
  $title-color: #f2f3f2;
  $black: #000808;

  background-color: $black;
  color: $text-color-white-50 !important;
  h2,
  h3,
  .h3,
  h4 {
    color: $title-color !important;
  }

  .properties {
    .box {
      background-color: #003333;
    }
    .price::after {
      background-color: $title-color !important;
    }
    p {
      color: $text-color-white-50 !important;
    }
    .features {
      color: $text-color-white-50 !important;
    }

    .row {
      .my-btn {
        color: $title-color;
        background-color: transparent;
        border: 1px solid $title-color;
        &:hover {
          background-color: rgba($color: $black, $alpha: 0.2);
        }
      }
    }
  }
  section.features {
    background-color: #001a1a !important;
    .box {
      // background-color: #001111;
      background-color: #005555;
      background-color: #003333;
      &:hover {
        border-color: $title-color;
      }
      p {
        color: $text-color-white-50;
      }
    }
    a {
      color: $title-color !important;
      text-decoration: underline !important;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
  .testimonials {
    .box {
      // background-color: #003333;
    }
    p {
      color: $text-color-white-50 !important;
    }
    .bullets {
      span {
        &:first-child {
          background-color: $text-color-white-50;
        }
        background-color: $title-color;
      }
    }
  }
  .control-btn {
    color: $title-color;
    background-color: transparent;
    border: 1px solid $title-color;
    &:hover {
      background-color: rgba($color: $white, $alpha: 0.2);
    }
  }
  .facts {
    background-color: #001a1a !important;
    p {
      color: $text-color-white-50;
    }
    .item {
      &:hover .icon {
        border-color: $title-color !important;
      }
      .icon {
        background-color: rgba($color: $white, $alpha: 0.2) !important;
      }
    }
  }
  .apply {
    .item {
      span {
        color: $title-color;
      }
    }
    p {
      color: $text-color-white-50;
    }
  }
  .agents {
    background-color: #001a1a !important;
    p {
      color: $text-color-white-50;
    }
    .box {
      background-color: #005555;
      background-color: #003333;

      img {
        border-color: #001a1a;
      }
      .social {
        span {
          background-color: transparent;
          border: 2px solid $title-color;
          color: $title-color;
          &:hover {
            color: $text-color-white-50;
            border-color: $text-color-white-50;
          }
        }
      }
    }
  }
  footer {
    background-color: #000;
    a,
    p {
      color: $text-color-white-50;
    }
    .icons {
      a {
        background-color: transparent;
        border: 2px solid $title-color;
        color: $title-color;
        &:hover {
          color: $text-color-white-50;
          border-color: $text-color-white-50;
        }
      }
    }
  }
  .contact {
    input,
    textarea {
      background-color: transparent !important;
      color: $text-color-white-50;
      &::placeholder {
        color: $text-color-white-50;
      }
      &:focus {
        border-color: $title-color;
      }
      caret-color: $title-color;
    }
    .item {
      span {
        background-color: rgba($color: $white, $alpha: 0.2) !important;
      }
      p {
        color: $text-color-white-50;
      }
    }
  }
  .properties {
    .bullets {
      span {
        background-color: transparent;
        border: 2px solid $text-color-white-50;
        color: $text-color-white-50;
        &:first-child,
        &:hover {
          color: $title-color;
          border-color: $title-color;
        }
      }
    }
  }
  .product {
    p,
    .features,
    .icons a {
      color: $text-color-white-50;
    }
    .icons a:hover {
      color: $title-color;
    }
    .owner {
      border-color: #003333 !important;
    }
  }
}
