body {
  position: relative;
  font-family: $font-family;
  background-color: $white;
  transition: .5s;
}

.py-section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}
h1 {
  font-size: $fs-40;
  font-weight: $fw-700;
  @media (max-width: 767px) {
    font-size: $fs-36;
  }
}

h2, h3, .h3, h4{
  color: $primary;
}

h2 {
  font-size: $fs-36;
  margin-bottom: 0;
}

h3, .h3 {
  font-size: $fs-20;
  font-weight: $fw-700;
}

h4 {
  font-size: $fs-16;
  font-weight: $fw-700;
}

p {
  color: $text-color-black-50;
  font-size: $fs-14;
}
.path {
  color: $text-color-white-50;
  a {
    color: $white;
  }
}