$primary: #00204a;
$primary-dark: #001025; // instead of black
$control-bg-color: #00204a1a; // bg-for primary
$secondary: #005555;
$secondary-hover: #004444;
$white: #fff;

$text-color-black-50: rgba(black, 0.5);
$text-color-white-50: rgba(white, 0.5);
$text-color-dark: #777;

$section-padding: 4rem;

$fs-40: 2.5rem;
$fs-36: 2.25rem;
$fs-20: 1.25rem;
// $fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
$fs-13: 0.813rem;

$fw-700: 700;
$fw-500: 500;

$font-family: "Work Sans", sans-serif;
